# PostgreSQL Database connection string
# Example: postgresql://username:password@ep-cool-db.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/app_db
